{% extends "django_sheet/with_side_bar.html" %}
{% load admin_static %}

{% block extrahead %}
{{block.super}}
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <script src="{% static 'js/jQuery.sheet/bower_components/jquery-legacy/dist/jquery.js' %}"></script>
        <script src="{% static 'js/jQuery.sheet/parser/formula/formula.js' %}"></script>
        <script src="{% static 'js/jQuery.sheet/jquery.sheet.js' %}"></script>
        <script src="{% static 'js/django_sheet.js' %}"></script>
        <script>
	        $.sheet.preLoad("{% static 'js/jQuery.sheet/'%}");
            $(function(){
	            var gC = $('#growlContainer');
	            function growl(msg) {
		            var $msg = $('<div style="background-color: #adff2f;" />').text(msg);
		            gC.prepend(
				            $msg
		            );
		            $msg.fadeOut(5000, function() {
			            $msg.remove();
		            });
	            }
	            //var tableStr = loadJson(serverJson);
	            //$("#sheet0Table").html(tableStr);

	            $.getJSON("/django_sheet/api/cell/?format=json", "", function(serverJson){
	                var tableStr = loadJson(serverJson);
                    $("#sheet0Table").html(tableStr);

				    $('#jQuerySheet0')
						.bind('sheetCellEdited', function(a, tb, cell, d, e, f, g) {
							growl('A cell was edited!');
							//console.log("cell edited: ", a, tb, cell, d, e, f, g);
							//console.log(tb.spreadsheets[0]);
							//console.log(tb.spreadsheets[0][0]);
							var col = cell.td.cellIndex;
							var row = cell.td.parentNode.rowIndex;
							console.log(col, row, cell.value);

							// This may require the ``json2.js`` library for older browsers.
                            var data = JSON.stringify({
                                "value": cell.value
                            });

                            $.ajax({
                              url: '/django_sheet/api/string_cell_value/',
                              type: 'POST',
                              contentType: 'application/json',
                              data: data,
                              dataType: 'json',
                              processData: false,
                              success: function(a, b, c){
                                console.log(a, b, c);
                                // This may require the ``json2.js`` library for older browsers.
                                var data = JSON.stringify({
                                    "cell_row": row-1,
                                    "cell_column": col-1,
                                    //"value": cell.value,
                                    "cell_value": a["resource_uri"],
                                    "sheet": "/django_sheet/api/sheet/1/"
                                });

                                $.ajax({
                                  url: '/django_sheet/api/cell/',
                                  type: 'POST',
                                  contentType: 'application/json',
                                  data: data,
                                  dataType: 'json',
                                  processData: false
                                });

                              }
                            });

                            /*
                            // This may require the ``json2.js`` library for older browsers.
                            var data = JSON.stringify({
                                "cell_row": row-1,
                                "cell_column": col-1,
                                //"value": cell.value,
                                "cell_value": {"value": cell.value, "resource": "string_cell_value"}
                            });

                            $.ajax({
                              url: '/django_sheet/api/cell/',
                              type: 'POST',
                              contentType: 'application/json',
                              data: data,
                              dataType: 'json',
                              processData: false
                            });*/

						})
						.sheet(
						    //{loader: new Sheet.JSONLoader( [{"title":"Spreadsheet 1","rows":[]}] )}// not working
						);
				});
            });
        </script>
{% endblock %}

{% block content %}
<h1>First sheet</h1>
<table style="width: 100%;">
    <tr>
        <td style="width: 80%;vertical-align: top;">
            <div id="jQuerySheet0" >
                <table id="sheet0Table">
                    <tr>
                        <td>Hello world</td>
                    </tr>
                </table>
            </div>
        </td>
        <td id="growlContainer" style="vertical-align: top;"></td>
    </tr>
</table>
{% endblock %}
