{% extends "django_sheet/with_side_bar.html" %}
{% load admin_static %}

{% block extrahead %}
{{block.super}}
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <script src="{% static 'js/jQuery.sheet/bower_components/jquery-legacy/dist/jquery.js' %}"></script>
        <script src="{% static 'js/jQuery.sheet/parser/formula/formula.js' %}"></script>
        <script src="{% static 'js/jQuery.sheet/jquery.sheet.js' %}"></script>
        <script src="{% static 'js/django_sheet.js' %}"></script>
        <script>
	        $.sheet.preLoad("{% static 'js/jQuery.sheet/'%}");
            $(function(){
	            var gC = $('#growlContainer');
	            function growl(msg) {
		            var $msg = $('<div style="background-color: #adff2f;" />').text(msg);
		            gC.prepend(
				            $msg
		            );
		            $msg.fadeOut(5000, function() {
			            $msg.remove();
		            });
	            }
	            var tableStr = loadJson(serverJson);
	            $("#sheet0Table").html(tableStr);
				$('#jQuerySheet0')
					//Note these events don't yet work as triggers.  Also, you can use them as settings as well.
						.bind('sheetAddRow', function() {
							growl('A row was added!');
						})
						.bind('sheetAddColumn', function() {
							growl('A column was added!')
						})
						.bind('sheetSwitch', function() {
							growl('A sheet was switched!')
						})
						.bind('sheetRename', function() {
							growl('A sheet was renamed!')
						})
						.bind('sheetTabSortStart', function() {
							growl('A sheet is starting to be sorted!')
						})
						.bind('sheetTabSortUpdate', function() {
							growl('A sheet was sorted!')
						})
						.bind('sheetFormulaKeydown', function() {
							growl('Formula keydown!')
						})
						.bind('sheetCellEdit', function(a, cell, c, d ,e, f, g) {
							growl('A cell is being edited!');
							//console.log("cell edit", a, cell, c, d, e, f, g);
						})
						.bind('sheetCellEdited', function(a, tb, cell, d, e, f, g) {
							growl('A cell was edited!');
							//console.log("cell edited: ", a, tb, cell, d, e, f, g);
							//console.log(tb.spreadsheets[0]);
							//console.log(tb.spreadsheets[0][0]);
							var col = cell.td.cellIndex;
							var row = cell.td.parentNode.rowIndex;
							console.log(col, row, cell.value);

							// This may require the ``json2.js`` library for older browsers.
                            var data = JSON.stringify({
                                "row": row,
                                "col": col,
                                "value": cell.value,
                            });

                            $.ajax({
                              url: 'http://localhost:8000/api/',
                              type: 'POST',
                              contentType: 'application/json',
                              data: data,
                              dataType: 'json',
                              processData: false
                            })

						})
						.bind('sheetCalculation', function(a, b, c, d) {
							growl('A sheet was calculated!');
							//console.log("sheet cal: ", a, b, c, d);
							//console.log(a, b, c, d, e, f, g);
						})
						.bind('sheetAdd', function() {
							growl('A sheet was added!')
						})
						.bind('sheetDelete', function() {
							growl('A sheet was deleted!')
						})
						.bind('sheetDeleteRow', function() {
							growl('A row was deleted!')
						})
						.bind('sheetDeleteColumn', function() {
							growl('A column was deleted!')
						})
						.bind('sheetOpen', function() {
							growl('A sheet was opened!')
						})
						.bind('sheetAllOpened', function() {
							growl('All the sheets were opened in an instance!')
						})
						.bind('sheetSave', function() {
							growl('A sheet was saved!')
						})
						.bind('sheetFullScreen', function() {
							growl('A sheet went fullscreen!')
						})
						.sheet(
						    //{loader: new Sheet.JSONLoader( [{"title":"Spreadsheet 1","rows":[]}] )}// not working
						);
            });
        </script>
{% endblock %}

{% block content %}
<h1>First sheet</h1>
<table style="width: 100%;">
    <tr>
        <td style="width: 80%;vertical-align: top;">
            <div id="jQuerySheet0" >
                <table id="sheet0Table">
                    <tr>
                        <td>Hello world</td>
                    </tr>
                </table>
            </div>
        </td>
        <td id="growlContainer" style="vertical-align: top;"></td>
    </tr>
</table>
{% endblock %}
