{% extends "dev_info_chart/bootstrap_base.html" %}
{% load admin_static %}

{% block extrahead %}
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet"/>
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/dev_info_chart.css' %}" rel="stylesheet"/>
    <!--<script src="{% static 'js/jquery.js' %}"></script>-->
    <script src="{% static 'js/metisMenu/metisMenu.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
{% endblock %}

<!-- content -->
{% block content %}
<div>
    <div class="navbar-default sidebar" role="navigation">
        {% block left_pane %}
        {% endblock %}
    </div>
    <div id="page-wrapper">
        <div class="row">
            {% block right_pane %}
            {% endblock %}
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
{% endblock %}